.textDiv {
  z-index: 10;
  position: absolute;
  left: 4%;
  top: 10%;
  color: #4A01FF;
  font-size: 120px;
  text-shadow: 2px 2px 5px #DAFFCE, 0 0 9px #FF70EC;
  animation-name: colorchange;
  animation-duration: 40s;
    }

    @keyframes colorchange {
      0% {
        color: #4A01FF;
      }

      10% {
        color: #8e44ad;
      }

      20% {
        color: #1abc9c;
      }

      30% {
        color: #d35400;
      }

      40% {
        color: blue;
      }

      50% {
        color: #34495e;
      }

      60% {
        color: blue;
      }

      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }

      90% {
        color: #2980b9;
      }

      100% {
        color: pink;
      }
    }

.gif {
  position: absolute;
  height: 400px;
  width: 400px;
  z-index: 9;
}
